/* .activeMouse {
    background-color: black;
    color: white;
} */

.oneDiv {
    background-color: black;
    font-size: 10px;
    color: white;
}

.twoDiv {
    background-color: green;
    font-size: 30px;
}

.threeDiv {
    background-color: red;
    font-size: 50px;
}
